// Place all the styles related to the api/Likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// LIKES ---------------------------------------------------------------

.likes {
  position: relative;
  width: 40px;
  height: 25px;
  margin: auto;
}

.links {
  /* position: relative; */
  width: 100%;
  height: 100%;
  /* top: 235px; */
  text-transform: uppercase;
  padding-top: 220px;
  padding-bottom: 50px;
}

.links a {
  border-radius: 100%;
  /* box-shadow: inset 0 0 0 1px red; */
  display: inline-block;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  width: 7.25rem;
  color: #033569;
  font-size: 14px;
}
