// Place all the styles related to the api/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// PHOTOS -------------------------------------------------------------

.photo-entity {
  padding-top: 50px;
}

.photo-header {
  position: relative;
  width: 600px;
  height: 60px;
  margin: auto;
  background: white;
  border: 1px solid #e6e6e6;
}

.photo-header-info {
  position: absolute;

  display: inline-block;
  left: 13px;
  top: 15px;
}
.photo-box {
  position: relative;
  width: 600px;
  height: 100%;
  margin: auto;
  background: white;
  border: 1px solid #e6e6e6;
  // background-image: image-url("kittycat.jpg");
  border-top: 0;
  border-bottom: 0;
  overflow: auto;
}

.photo-comment-section {
  position: relative;
  width: 600px;
  height: 100%;
  margin: auto;
  border: 1px solid #e6e6e6;
  border-top: 0;
  background-color: white;
  overflow: auto;
  padding-bottom: 27px;
}

.photo-reversed {
  display: flex;
  flex-direction: column-reverse;
}

.photo-reversed:last-child {
  // padding-top: 50px;
  padding-bottom: 50px;
}

.photo-image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: contain;
}

.photo-user {
  float: right;
  top: 5px;
  position: relative;
}

.photo-user a {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  color: #262626;
}

.photo-whole {
  padding-top: 75px;
}

.photo-user-icon {
  font-size: 31px;
  float: left;
  margin-top: -4px;
  margin-right: 10px;
  color: #262626;
  display: inline;
}

.photo-user-avatar {
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0px 5px 5px 4px;
  border: 1px solid #e6e6e6;
}

.photo-comment-icons div{
  position: relative;
  // left: -45.25%;
  top: 10px;
  width: 40px;
  height: 25px;
  font-size: 23px;
  color: #eb4856;
}

.photo-comment-icons div img{
  position: relative;
  width: 25px;
  // height: 25px;
  margin: auto;
  left: 7px;
}

.photo-comment-icons div img:hover{
  position: relative;
  width: 25px;
  // height: 25px;
  margin: auto;
  left: 7px;
  cursor: pointer;
}

.photo-comment-likes {
  position: relative;
  font-weight: 600;
  top: 17px;
  width: 200px;
  /* left: -235px; */
  font-size: 14px;
  color: #262626;
  height: 15px;
  margin-left: 15px;
  text-align: left;
}

.photo-comment-comments {
  position: relative;
  float: left;
  top: 27px;
  left: 15px;
  text-align: left;
  width: 555px;
  margin-bottom: 8px;
}

.photo-username {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  color: #262626;
  float: left;
  margin-right: 6px;
}

.photo-caption {
  position: relative;
  display: inline;
  width: auto;
  top: -1px;
  font-weight: 400;
  font-size: 16px;
}

.photo-delete {
  position: relative;
  color: #262626;
  right: -93%;
  top: 9px;
  width: 50px;
  height: 50px;
}

.photo-edit-button {
  position: absolute;
  right: 14px;
  top: 12px;
  color: #262626;
}

// SINGLE PHOTO MODAL --------------------------------------------------

.custom-modal {
  background-color: #1C1C1C;
}

.single-img-modal {
  width: 600px;
  height: 100%;
  margin: -16px;
  object-fit: contain;
  background-color: white;
  // opacity: 1.0;
}

.custom-overlay {
  // max-width: 600px;
  // max-height: 500px;
}
